NEXT_PUBLIC_API_URL=http://localhost:3333

# Stripe (fase 2) — deixe vazio para usar modo simulação em desenvolvimento
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...

# Web Push — chave VAPID pública (mesma do backend VAPID_PUBLIC_KEY)
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BDxY1PBtyjBvb837Wgm143L-aiExFRi3xftTgR9fPuATddyp7ZFmhaZikP6z2vR9818MSZlwoutKVSNSEyk4kqM
